<launch>
  <!-- Setup Parameters -->
  <arg name="enable_gui" default="false" />
  <param name="enable_gui" value="$(arg enable_gui)" />
  <arg name="old_bagged_data" default="false" />
  <param name="old_bagged_data" value="$(arg old_bagged_data)" />
  <arg name="recording_time" default="20" />
  <param name="recording_time" value="$(arg recording_time)" />
  
  <!-- Play the latest thermal recording on loop -->
  <node name="rosbag_play" pkg="rosbag" type="play"
        args="--loop /home/etsa/boson_recordings/outside_tests/test1.bag"
        output="screen" />

  <!-- Run facial tracking node -->
  <node pkg="rr_tracking" type="facial_tracking_node.py" name="facial_tracking_node" output="screen" />

  <!-- Run signal processing node -->
  <node pkg="rr_tracking" type="signal_processing_node.py" name="signal_processing_node" output="screen" />

  <!-- Run the display node -->
  <node pkg="rr_tracking" type="gui_node.py" name="gui_node" 
        output="screen" launch-prefix="python3" />
</launch>
