<launch>
  <!-- Play the latest thermal recording on loop -->
  <node name="rosbag_play" pkg="rosbag" type="play"
        args="--loop /home/etsa/2025-06-24-16-01-26.bag"
        output="screen" />
  <!-- Run the thermal display node -->
  <node name="display_node" pkg="rr_tracking" type="display_node.py"
        output="screen" launch-prefix="python3" />
</launch>

<!-- /home/etsa/2025-06-24-16-01-26.bag -->
<!-- /home/etsa/boson_recordings/thermal_recording_1.bag -->